.stack-work/
*.sqlite3
*.pantry-write-lock

dist/
dist-newstyle/
*.hi
*.o
*.pdb

*.hsc
*.chs

cabal.project.local
cabal.project.freeze

*.hs.hi
*.hs.o
*.hie
*.haskell-language-server.cache

.ghci_history

.idea/
*.swp
*.swo
*.tmp
*.log

.DS_Store
Thumbs.db
